<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting"> <!-- Apple Mail helper-->
  <link href="https://fonts.cdnfonts.com/css/general-sans" rel="stylesheet">
  <style>{{{ page.css }}} th{
    @apply font-medium;
  }</style> <!-- call Tailwind CSS -->
  <title>{{{ page.title }}}</title>
</head>
<body>
  <content /> <!-- Where the templates will be rendered -->
</body>
</html>